@media (max-width: 1000px) {
	.wrapper {
		width: 100%;
	}
	.wrap_item .item, .s2_item {
		min-width: 300px;
	}
}
@media (max-width: 1120px) {
	.wrap_item .item, .s2_item {
		width: 28vw;
		height: 19vw;
	}
}
@media (max-width: 950px) {
	.wrap_item .item, {
		width: 31vw;
		height: 20vw;
		min-width: 230px;
		min-height: 150px;
	}
	.s2_item {
		width: 31vw;
		height: auto;
		overflow: auto;
		min-width: 230px;

	}
}
@media (max-width: 750px) {
	.wrap_item .item, .s2_item {
		width: 45vw;
		height: 29vw;
		min-width: 100px;
		min-height: 65px;
	}
	.s2 {
		height: auto;
	}
	.s2_item:nth-child(3) {
		display: none;
	}
}
@media (max-width: 480px) {
	.banner {
		height: 300px;
		border-radius: 0;
	}
	.banner .text1 {
		font:  2em segoe print, sans-serif;
}
	.banner .text2 {
		font: 1em verdana, sans-serif;
}
	.s1, .s2, .s3, footer {
		width: 90%;
		margin-left: 5%;
	}
	.wrap_item {
		width: 100%;
	}
	.wrap_item:nth-child(n+4) {
		display: none;
	}
	.wrap_item .item, 
	.s2_item {
		width: 100%;
		min-width: 100px;
		min-height: 65px;
	}
	.wrap_item .item {
		height: 50vw;
	}
	.s2_item {
		height: auto;
	}
	.s2_item:nth-child(3) {
		height: 50%;
	}
	body {
		width: 100%
	}
	.search_form {
		width: 100%;
	}
	.search{
		width: 85%;
		border:  1px solid #E5E5E5;
		padding-left: 15px;
}
}