@media (max-width: 1000px) {
	.wrapper {
		width: 100%;
	}
	.wrap_item .item, .s2_item {
		min-width: 300px;
	}
}
@media (max-width: 1120px) {
	.wrap_item .item, .s2_item {
		width: 28vw;
		height: 19vw;
	}
}
@media (max-width: 950px) {
	.wrap_item .item, {
		width: 31vw;
		height: 20vw;
		min-width: 230px;
		min-height: 150px;
	}
	.s2_item {
		width: 31vw;
		height: auto;
		overflow: auto;
		min-width: 230px;

	}
}
@media (max-width: 750px) {
	.wrap_item .item, .s2_item {
		width: 45vw;
		height: 29vw;
		min-width: 100px;
		min-height: 65px;
	}
	.s2 {
		height: auto;
	}

}
@media (max-width: 480px) {
	body, .search_form, .wrap_item, .wrap_item .item, 
	.s2_item, .s2_header:before, .s2_header:after, .search_form,
	.item_text p, .item_bottom {
		width: 100%
	}
	.wrapper {
		margin-top: 5px;
	}
	.banner {
		height: 300px;
		border-radius: 0;
	}
	.banner .text1 {
		font:  2em segoe print, sans-serif;
	}
	.banner .text2 {
		font: 1em verdana, sans-serif;
	}
	.logo, .topnav, .s1, .s2, .s3, footer {
		width: 90%;
		margin-left: 5%;
	}
	.wrap_item:nth-child(n+4) {
		display: none;
	}
	.wrap_item .item {
		height: 50vw;
	}
	.s2 {
		flex-wrap: wrap-reverse;
	}
	.s2_item {
		height: auto;
	}
	.s2_header:before {
		top: 0px;
	}
	.s2_header:after {
		bottom: -1px;
	}
	.s2_header_search div {
		border: 1px solid red;
	}
	.s2 > .s2_item:nth-child(3) {
		display: none;
	}
	.search{
		width: 85%;
	}
	.s3 {
		margin-top: 50px;
	}
	footer > .s2_item:nth-child(-n+2) {
		display: none;
	}
}