* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: url(../img/bg1.jpg);
	height: 100vh;
	width: 100%;
}
.wrapper {
	display: flex;
	flex-direction: column;
	width: 980px;
	margin: 50px auto;
	/*border: 1px solid red;*/
}
.logo {
	display: block;
	font: 2.6em segoe print, sans-serif;
	font-style: italic;
	font-weight: bold;
	margin-left: -7px;
}
.logo span {
	color: #F26C4F;
	font: .6em verdana, sans-serif;
	vertical-align: sub;
}
.topnav {
	display: flex;
	margin-top: 5px;
	flex-wrap: wrap;
	justify-content: space-between;
	position: relative;
}
.topmenu {
	display: flex;
	list-style: none;
	justify-content: space-between;
	width: 60%;
	align-items: center;
	margin-left: 2px;
	flex-wrap: wrap;
}
.social {
	width: 112px;
}
.social img {
	padding-left: 5px;
}
.topmenu a {
	display: block;
	text-decoration: none;
	font: .8em verdana, sans-serif;
	font-style: italic;
	color: #54585B;
	font-weight: bold;
}
.topmenu a:after {
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    background-color: #F26C4F;
    transition: width .2s ease-in-out;
}
.topmenu a:hover:after,
.topmenu a:focus:after {
    width: 100%;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
	background: url(../img/bg2.jpg) no-repeat center;
	width: 100%;
	height: 390px;
	position: relative;
	margin: 40px 0 0 0px;
	color: white;
	border-radius: 5px;
}
.banner .text1 {
	font:  3em segoe print, sans-serif;
	font-style: italic;
	font-weight: bold;
	vertical-align: baseline;
	margin-top: 90px;
}
.banner .text2 {
	font: 1.7em verdana, sans-serif;
	text-transform: uppercase;
}
.banner form {
	display: block;
	position: absolute;
	align-self: flex-start;
	bottom: 40px;
	left: 70px;
}

.banner label{
	display: inline-block;
	cursor: pointer;
	position: relative;
	margin-left: 14px;
}
.banner input[type=radio] {
	display: none;
}
.banner label:before {
	content: '';
	display: inline-block;
	width: 9px;
	height: 9px;
	position: absolute;
	background: #252628;
	border-radius: 10px;
	box-shadow: inset 0 -1px 1px 0px rgba(255,255,255,.8);

}
.banner input[type=radio]:checked + label:before {
	content: "";
	background: #838486;
	color: #848587;
	text-align: center;
	line-height: 10px;
	font-size: 30px;
}

.block1 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.s1 {
	margin-top: 40px;
}
.s1header {
	color: #5A5E60;
	font-style: italic;
}
/*.wrap_item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}*/
.wrap_item .item {
	display: flex;
	justify-content: center;
	width: 22vw;
	height: 14vw;
	min-width: 300px;
	min-height: 195px;
	background: url(../img/bg3.jpg);
	background-position: center;
	margin-top: 17px;
}
.item_text {
	color: #4C5053;
	font: .9em verdana, sans serif;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}
.cross { 
	color: #fff;
	display: flex;
	align-items: center;
	font-size: 2em;
 }


/*SECTION 2*/


.s2 {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.s2_item {
	width: 22vw;
	height: 100%;
	margin-top: 30px;
}
.s2_header {
	font: .8em verdana, sans-serif;
	color: #54585B;
	font-weight: bold;
	padding: 10px 0;
	display: block;
	position: relative;
}
.s2 p {
	margin-top: 20px;
	font: 0.8em verdana, sans-serif;
	color: #535353;
	line-height: 2;
}
.s2_header:before,
.s2_header:after {
	content: '';
	display: block;
	position: absolute;
	width: 22vw;
	height: 2px;
	background: #DDDDDD;
	box-shadow: 0 1px 1px 1px #EAEAEA;
}
.s2_header:before {
	top: -3px;
}
.s2_header:after {
	bottom: -3px;
}
.s2_header_search{
	display: flex;
	justify-content: space-between;
}
.s2_header_search img {
	margin: 12px 10px 0 0;
	cursor: pointer;
}
.search_form {
	display: flex;
	justify-content: space-between;
	width: 22vw;
	height: 45px;
	margin-top: 10px;
}
.search{
	width: 235px;
	border:  1px solid #E5E5E5;
	padding-left: 15px;
}
input::placeholder {
	color: rgba(214,214,214,0.9);
	font-style: italic;
	font-size: 1.2em;
}
.search_form button {
	width: 45px;
	background: #fff;
	border: 1px solid #E5E5E5;
	text-transform: uppercase;
	color: #ACACAC;
	font-style: italic;
}
.s2_list {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}
.list {
	font: .8em verdana, sans-serif;
	list-style: none;
	line-height: 2.6;
	margin-top: 20px;
	font-style: italic;
	letter-spacing: -.8px;
	color: #535353;
}
.list li {
	display: flex;
	position: relative;
}
.list li:after {
	content:'........';
	position: absolute;
	width: 20px;
	height: 2px;
	color: #BFBFBF;
	top: 5px;
	font-size: 15px;
}

/* SECTION 3*/


.s3 {
	margin-top: 20px;
}
.item_text p {
	width: 22vw;
	margin-top: 15px;
	font: 0.8em verdana, sans-serif;
	color: #535353;
	line-height: 2;
}
.item_bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	font: 0.7em verdana, sans-serif;
	font-style: italic;
	width: 22vw;
	position: relative;
}
.item_bottom:before {
	content: '....';
	position: absolute;
	color: #BFBFBF;
	font-size: 15px;
	bottom: 25px;
}
.date {
	color: #B4B4B4;
}
.author, .like_comment {
	color: #4C5053;
	font-weight: bold;
}
.comments {
	display: flex;
	justify-content: space-between;
	width: 30%;
	padding-top: 5px;
}
.like_comment {
	margin-right: 5px;
}
.comments_value {
	display: flex;
}
.comments_value img {
	cursor: pointer;
}

/*FOOTER*/

footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 40px;
}
footer p {
	margin-top: 20px;
	font: 0.8em verdana, sans-serif;
	color: #535353;
	line-height: 2;
}
